@font-face {
	font-family:"Webdings";
	src: url("../fonts/Webdings.eot");
	src: url("../fonts/Webdings.eot?#iefix") format("embedded-opentype"),
	url("../fonts/Webdings.woff") format("woff"),
	url("../fonts/Webdings.ttf") format("truetype");
	font-style:normal;
	font-weight:normal;
}