* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	background-color: #FFF;
	font-family: 'Raleway',sans-serif;
}
a {
	text-decoration: none;
}
.container {
	width: 1170px;
	margin: 0 auto;
}
.masthead {
	height: 750px;
	background-image: url(../images/masthead.png);
}
nav {
	float: right;
	font-family: Raleway,sans-serif;
	    width: 653px;
}
nav ul {
	list-style-type: none;
}
nav li {
	float: right;
	margin: 40px 0 40px 60px;
}
nav a {
	font-size: 13px;
	font-family: "Raleway";
	color: rgba(255,255,255,0.749);
	font-weight: 700;
	text-transform: uppercase;
}
nav li:hover, .team h3:hover, .team h4:hover{
	text-decoration:underline;
}
header {
	height: 100px;
	    border-bottom: 1px solid #4b4d63;
}
header img {
	float: left;
	margin: 38px 0 0;
}
.hover-box:hover{
	box-shadow:0 0 30px #424242;
}
.masthead div{
	font-size: 22px;
	font-family: "Raleway";
	color: #fff;
	text-align: center;
	width: 1170px;
	min-width: 1170px;
    max-width: 1170px;
}
.head-caption{
	position: absolute;
    width: 1170px;
    top: 200px;
    left: 50%;
    right: 50%;
    margin-left: -585px;
    text-align: center;
}
.head-caption h1 {
	font-size: 65px;
	font-family: 'Open Sans', sans-serif;
	color: #fff;
	font-weight: 700;
	text-transform: uppercase;
	text-align: center;
	width: 900px;
	margin: 0 auto;
}
.head-caption p {
	font-size: 22px;
	font-family: "Raleway";
	color: #fff;
	text-align: center;
	width: 914px;
	margin: 0 auto;
	padding-top: 40px;
}
button {
	background-color: #f33;
	width: 200px;
	height: 46px;
	font-family: "Raleway";
	font-weight: 500;
	color: rgb(255, 255, 255);
	font-size: 13px;
	text-transform: uppercase;
	margin-top: 80px;
	border: 0;
	color: #FFF;
	border-radius: 4px;
	cursor: pointer;
}
button:hover{
	text-decoration:underline;
}
.feature {
	width: 390px;
	text-align: center;
	float: left;
	padding-bottom: 73px;
}
.feature h2 {
  font-size: 14px;
  font-family: "Raleway";
  color: rgb(45, 48, 51);
  font-weight: 700;
  text-transform: uppercase;
	padding: 30px 0;
}
.feature h2:hover{
	text-decoration:underline;
}
.feature img:hover, .team img:hover{
	box-shadow:0 0 30px #424242;
}
.feature p {
  font-size: 14px;
  font-family: "Raleway";
  color: rgb(108, 114, 121);
  line-height: 1.5;
  margin: 0 auto;
  width: 296px;
}
.team {
	padding-bottom: 144px;
	width: 1170px;
    margin: 0 auto;
}
.team h3 {
	  font-size: 22px;
  font-family: "Raleway";
  color: rgb(45, 48, 51);
  line-height: 1.2;
	padding-bottom: 16px;
	    font-weight: normal;
}
.team img {
	margin-bottom: 30px;
}
.team h4 {
  font-size: 13px;
  font-family: "Raleway";
  color: rgb(232, 69, 69);
  text-transform: uppercase;
  line-height: 1.2;
	padding-bottom: 32px;
}
.team p {
	font-size: 14px;
	font-family: "Raleway";
	color: #6c7279;
	line-height: 1.5;
}
.team figure, .team-1,.team-2,.team-3,.team-4 {
	width: 292.5px;
	float: left;
}
.team figure{
	padding: 0 15px;
}
.socseti {
	margin: 42px 0 0;
}
.footer_top {
	height: 250px;
	background-image: url(../images/foot_verh.png);
}
.footer_bottom {
	height: 94px;
	background-image: url(../images/foot_niz.png);
	text-align: center;
	padding-top: 28px;
}
.footer_bottom p {
  font-size: 14px;
  font-family: "Raleway";
  color: rgb(128, 128, 128);
  line-height: 1.607;
}
.footer_bottom span {
    color: #FFF;
    background-image: url('../images/heart.png');
    background-repeat: no-repeat;
    padding-left: 16px;
}
.activebox p,.location p {
	font-size: 14px;
	font-family: "Raleway";
	color: rgba(255,255,255,0.502);
	line-height: 1.607;
}
.activebox {
	width: 390px;
	text-align: center;
	float: right;
	margin-top: 71px;
}
.location {
	width: 390px;
	text-align: center;
	float: left;
	margin-top: 71px;
}
footer {
	color: #FFF;
	    min-width: 1170px;
}
footer h2 {
	font-size: 14px;
	font-family: "Raleway";
	color: #fff;
	font-weight: 700;
	text-transform: uppercase;
	line-height: 1.2;
	    padding-bottom: 24px;
}
span.W {
	font-family: Webdings;
	color: #f33;
}
.features {
	padding-top: 120px;
}

.works {
	margin-top: 74px;
}

.works .work {
	width: 25%;
	float: left;
	text-align: center;
	padding-right: 1px;
	padding-bottom: 1px;
}

.works .work a {
	cursor: pointer;
}

.works .work a figure {
	position: relative;
	margin: 0;
}

.works .work a figure img {
	width: 100%;
	height: auto;
	position: relative;
	display: block;
}

.works .work a figure figcaption {
	margin: 0;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(232,69,69,0.9);
	opacity: 0;
	transition: all .3s ease;
	text-align: center;
	color: #fff;
	padding-top: 30%;
	backface-visibility: hidden;
}

.works .work a figure figcaption h3 {
	margin-bottom: 8px;
}

.works .work a figure figcaption p {
	margin: 0;
}

.works .work a:hover figure figcaption {
	opacity: 1;
}
*, :after, :before {
    box-sizing: border-box;
}
.features{
	width: 1170px;
    margin: 0 auto;
}
.works {
    width: 100%;
    margin: 0 auto;
}
.works:after {
  display: table;
  content: "";
  clear: both; 
  }
.works .feature {
    width: 30.33333%;
    float: left;
    text-align: center;
    padding: 25px 45px;
    color: #313454;
    margin-bottom: 8px; 
}
.works .feature img {
      margin-bottom: 26px; 
}
.works .feature p {
      color: #6c7279; 
}

  
section{
	display: block;
}

a{
	text-decoration: none;
}

.section {
	padding: 100px 0;
}

	.container1 {
width: 1200px;
    padding-right: 15px;
    padding-left: 15px;
    margin: 0 auto;
	}

.container1:before{
		display: table;
		content: " ";
	}

.container1:after{
		display: table;
		content: " ";
		clear:both;
	}

.text-center{
		text-align: center;
	}

	.col-md-8 {
		width: 50%;
		padding-right: 15px;
		padding-left: 15px;
		margin: 0 auto;
	}

	.download h3 {
		margin-top: 0;
		font-size: 28px;
		color: #2d3033;
		font-weight: 300;
		margin-bottom: 10px;
		font-family: inherit;
		line-height: 1.1;
	}

	.download p {
		color: #2d3033;
		font-weight: 600;
		text-transform: uppercase;
		font-size: 14px;
		line-height: 22.4px;
		margin: 0 0 10px;
	}

	.download #btn {
		margin-top: 30px;
		padding: 15px 40px;
		background-color: #e84545;
		color: #fff;
		font-size: 13px;
		font-weight: 600;
		border: 0;
		border-radius: 2px;
		display: inline-block;
		text-transform: uppercase;
	}
/*<<<<<<< HEAD*/
.customised, .responsive, .modern, .clean, .ready, .download-for{
	display: inline-block;
}
.customised{
	background-image: url("../images/easily-customised.png");
	height: 60px;
	width: 60px;
}
.responsive{
	background-image: url('../images/responsive-ready.png');
	height: 60px;
	width: 73px;	
}
.modern{
	background-image: url('../images/modern-design.png');
	height: 60px;
	width: 41px;
}
.clean{
	background-image: url('../images/clean-code.png');
	height: 60px;
	width: 56px;	
}
.ready{
	background-image: url('../images/ready-to-ship.png');
	height: 60px;
	width: 72px;	
}
.download-for{
	background-image: url('../images/download-for-free.png');
	height: 60px;
	width: 79px;	
}
.clear::after{
display:block;
content:'';
clear:both;
}
/*>>>>>>> team*/
.button {
      display: inline-block;
      width: 200px;
      height: 46px;
      color: #ffffff;
      font-weight: 300;
      text-align: center;
      background-color: #e84545;
      text-transform: uppercase;
      border-radius: 3px;
      line-height: 46px;
      margin-bottom: 160px; 
	  }
.button:hover {
      background-color: #de1c1c; 
	 }
header a.hover{
    background-image: url('../images/logo.png');
    height: 24px;
    width: 189px;
    display: inline-block;
    float: left;
    position: relative;
    top: 40px;
}
.team a{
	    
    width: 44px;
    height: 44px;
    display: inline-block;
    position: relative;
    float: left;
}
.fb{
	background-image: url('../images/fb1.png');
}
.tw{
	background-image: url('../images/tw1.png');
}
.in{
	background-image: url('../images/in1.png');
}
.footer_top a{
    width: 44px;
    height: 44px;
    display: inline-block;
    position: relative;
}
.footer_fb{
	background-image: url('../images/fb.png');
}
.footer_tw{
	background-image: url('../images/tw.png');
}
.footer_in{
	background-image: url('../images/in.png');
}* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	background-color: #FFF;
	font-family: 'Raleway',sans-serif;
}
a {
	text-decoration: none;
}
.container {
	width: 1170px;
	margin: 0 auto;
}
.masthead {
	height: 750px;
	background-image: url(../images/masthead.png);
}
nav {
	float: right;
	font-family: Raleway,sans-serif;
	    width: 653px;
}
nav ul {
	list-style-type: none;
}
nav li {
	float: right;
	margin: 40px 0 40px 60px;
}
nav a {
	font-size: 13px;
	font-family: "Raleway";
	color: rgba(255,255,255,0.749);
	font-weight: 700;
	text-transform: uppercase;
}
nav li:hover,.team h3:hover,.team h4:hover {
	text-decoration: underline;
}
header {
	height: 100px;
	border-bottom: 1px solid #4b4d63;
}
header img {
	float: left;
	margin: 38px 0 0;
}
<<<<<<< HEAD
.hover:hover,.location img:hover {
	box-shadow: 0 0 30px #dadada;
}
.hover-box:hover {
	box-shadow: 0 0 30px #424242;
=======
.hover-box:hover{
	box-shadow:0 0 30px #424242;
>>>>>>> develop
}
.masthead div{
	font-size: 22px;
	font-family: "Raleway";
	color: #fff;
	text-align: center;
	    width: 1170px;
}
.head-caption{
	position: absolute;
    width: 1170px;
    top: 200px;
    left: 50%;
    right: 50%;
    margin-left: -585px;
    text-align: center;
}
.head-caption h1 {
	font-size: 65px;
	font-family: 'Open Sans', sans-serif;
	color: #fff;
	font-weight: 700;
	text-transform: uppercase;
	text-align: center;
	width: 900px;
	margin: 0 auto;
}
.head-caption p {
	font-size: 22px;
	font-family: "Raleway";
	color: #fff;
	text-align: center;
	width: 914px;
	margin: 0 auto;
<<<<<<< HEAD
}
.masthead div {
	font-size: 22px;
	font-family: "Raleway";
	color: #fff;
	text-align: center;
	width: 1170px;
}
.masthead p {
=======
>>>>>>> develop
	padding-top: 40px;
}
button {
	background-color: #f33;
	width: 200px;
	height: 46px;
	font-family: "Raleway";
	font-weight: 500;
	color: #fff;
	font-size: 13px;
	text-transform: uppercase;
	margin-top: 80px;
	border: 0;
	color: #FFF;
	border-radius: 4px;
	cursor: pointer;
}
button:hover {
	text-decoration: underline;
}
.feature {
	width: 390px;
	text-align: center;
	float: left;
	padding-bottom: 73px;
}
.feature h2 {
	font-size: 14px;
	font-family: "Raleway";
	color: #2d3033;
	font-weight: 700;
	text-transform: uppercase;
	padding: 30px 0;
}
.feature h2:hover {
	text-decoration: underline;
}
.feature img:hover,.team img:hover {
	box-shadow: 0 0 30px #424242;
}
.feature p {
	font-size: 14px;
	font-family: "Raleway";
	color: #6c7279;
	line-height: 1.5;
	margin: 0 auto;
	width: 296px;
}
.team {
	padding-bottom: 144px;
	width: 1170px;
	margin: 0 auto;
}
.team h3 {
	font-size: 22px;
	font-family: "Raleway";
	color: #2d3033;
	line-height: 1.2;
	padding-bottom: 16px;
	font-weight: 400;
}
.team img {
	margin-bottom: 30px;
}
.team h4 {
	font-size: 13px;
	font-family: "Raleway";
	color: #e84545;
	text-transform: uppercase;
	line-height: 1.2;
	padding-bottom: 32px;
}
.team p {
	font-size: 14px;
	font-family: "Raleway";
	color: #6c7279;
	line-height: 1.5;
}
.team figure,.team-1,.team-2,.team-3,.team-4 {
	width: 292.5px;
	float: left;
}
.team figure {
	padding: 0 15px;
}
.socseti {
	margin: 42px 0 0;
}
.footer_top {
	height: 250px;
	background-image: url(../images/foot_verh.png);
}
.footer_bottom {
	height: 94px;
	background-image: url(../images/foot_niz.png);
	text-align: center;
	padding-top: 28px;
}
.footer_bottom p {
	font-size: 14px;
	font-family: "Raleway";
	color: gray;
	line-height: 1.607;
}
.footer_bottom span {
    color: #FFF;
    background-image: url('../images/heart.png');
    background-repeat: no-repeat;
    padding-left: 16px;
}
.activebox p,.location p {
	font-size: 14px;
	font-family: "Raleway";
	color: rgba(255,255,255,0.502);
	line-height: 1.607;
}
.activebox {
	width: 390px;
	text-align: center;
	float: right;
	margin-top: 71px;
}
.location {
	width: 390px;
	text-align: center;
	float: left;
	margin-top: 71px;
}
footer {
	color: #FFF;
}
footer h2 {
	font-size: 14px;
	font-family: "Raleway";
	color: #fff;
	font-weight: 700;
	text-transform: uppercase;
	line-height: 1.2;
	padding-bottom: 24px;
}
span.W {
	font-family: Webdings;
	color: #f33;
}
.features {
	padding-top: 120px;
}
.works {
	margin-top: 74px;
}
.works .work {
	width: 25%;
	float: left;
	text-align: center;
	padding-right: 1px;
	padding-bottom: 1px;
}
.works .work a {
	cursor: pointer;
}
.works .work a figure {
	position: relative;
	margin: 0;
}
.works .work a figure img {
	width: 100%;
	height: auto;
	position: relative;
	display: block;
}
.works .work a figure figcaption {
	margin: 0;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(232,69,69,0.9);
	opacity: 0;
	transition: all .3s ease;
	text-align: center;
	color: #fff;
	padding-top: 30%;
	backface-visibility: hidden;
}
.works .work a figure figcaption h3 {
	margin-bottom: 8px;
}
.works .work a figure figcaption p {
	margin: 0;
}
.works .work a:hover figure figcaption {
	opacity: 1;
}
*,:after,:before {
	box-sizing: border-box;
}
.features {
	width: 1170px;
	margin: 0 auto;
}
.works {
	width: 100%;
	margin: 0 auto;
}
.works:after {
	display: table;
	content: "";
	clear: both;
}
.works .feature {
	width: 30.33333%;
	float: left;
	text-align: center;
	padding: 25px 45px;
	color: #313454;
	margin-bottom: 8px;
}
.works .feature img {
	margin-bottom: 26px;
}
.works .feature p {
<<<<<<< HEAD
	color: #6c7279;
}
* {
	box-sizing: border-box;
}
section {
	display: block;
}
a {
	text-decoration: none;
}
.section {
	padding: 100px 0;
}
.container {
	width: 1200px;
	padding-right: 15px;
	padding-left: 15px;
	margin: 0 auto;
}
.container:before {
	display: table;
	content: " ";
}
.container:after {
	display: table;
	content: " ";
	clear: both;
}
.text-center {
	text-align: center;
}
.col-md-8 {
	width: 50%;
	padding-right: 15px;
	padding-left: 15px;
	margin: 0 auto;
}
.download h3 {
	margin-top: 0;
	font-size: 28px;
	color: #2d3033;
	font-weight: 300;
	margin-bottom: 10px;
	font-family: inherit;
	line-height: 1.1;
}
.download p {
	color: #2d3033;
	font-weight: 600;
	text-transform: uppercase;
	font-size: 14px;
	line-height: 22.4px;
	margin: 0 0 10px;
}
.download #btn {
	margin-top: 30px;
	padding: 15px 40px;
	background-color: #e84545;
	color: #fff;
	font-size: 13px;
	font-weight: 600;
	border: 0;
	border-radius: 2px;
	display: inline-block;
	text-transform: uppercase;
=======
      color: #6c7279; 
}

  
section{
	display: block;
}

a{
	text-decoration: none;
}

.section {
	padding: 100px 0;
}

	.container1 {
width: 1200px;
    padding-right: 15px;
    padding-left: 15px;
    margin: 0 auto;
	}

.container1:before{
		display: table;
		content: " ";
	}

.container1:after{
		display: table;
		content: " ";
		clear:both;
	}

.text-center{
		text-align: center;
	}

	.col-md-8 {
		width: 50%;
		padding-right: 15px;
		padding-left: 15px;
		margin: 0 auto;
	}

	.download h3 {
		margin-top: 0;
		font-size: 28px;
		color: #2d3033;
		font-weight: 300;
		margin-bottom: 10px;
		font-family: inherit;
		line-height: 1.1;
	}

	.download p {
		color: #2d3033;
		font-weight: 600;
		text-transform: uppercase;
		font-size: 14px;
		line-height: 22.4px;
		margin: 0 0 10px;
	}

	.download #btn {
		margin-top: 30px;
		padding: 15px 40px;
		background-color: #e84545;
		color: #fff;
		font-size: 13px;
		font-weight: 600;
		border: 0;
		border-radius: 2px;
		display: inline-block;
		text-transform: uppercase;
	}
/*<<<<<<< HEAD*/
.customised, .responsive, .modern, .clean, .ready, .download-for{
	display: inline-block;
}
.customised{
	background-image: url("../images/easily-customised.png");
	height: 60px;
	width: 60px;
}
.responsive{
	background-image: url('../images/responsive-ready.png');
	height: 60px;
	width: 73px;	
}
.modern{
	background-image: url('../images/modern-design.png');
	height: 60px;
	width: 41px;
}
.clean{
	background-image: url('../images/clean-code.png');
	height: 60px;
	width: 56px;	
}
.ready{
	background-image: url('../images/ready-to-ship.png');
	height: 60px;
	width: 72px;	
}
.download-for{
	background-image: url('../images/download-for-free.png');
	height: 60px;
	width: 79px;	
}
.clear::after{
display:block;
content:'';
clear:both;
}
/*>>>>>>> team*/
.button {
      display: inline-block;
      width: 200px;
      height: 46px;
      color: #ffffff;
      font-weight: 300;
      text-align: center;
      background-color: #e84545;
      text-transform: uppercase;
      border-radius: 3px;
      line-height: 46px;
      margin-bottom: 160px; 
	  }
.button:hover {
      background-color: #de1c1c; 
	 }
header a.hover{
    background-image: url('../images/logo.png');
    height: 24px;
    width: 189px;
    display: inline-block;
    float: left;
    position: relative;
    top: 40px;
}
.team a{
	    
    width: 44px;
    height: 44px;
    display: inline-block;
    position: relative;
    float: left;
}
.fb{
	background-image: url('../images/fb1.png');
}
.tw{
	background-image: url('../images/tw1.png');
}
.in{
	background-image: url('../images/in1.png');
}
.footer_top a{
    width: 44px;
    height: 44px;
    display: inline-block;
    position: relative;
}
.footer_fb{
	background-image: url('../images/fb.png');
}
.footer_tw{
	background-image: url('../images/tw.png');
}
.footer_in{
	background-image: url('../images/in.png');
>>>>>>> develop
}